.box_left ul li, .list_page a{
	zoom:1;
}
.sect{
	display:none;
	height:300px;
	border:1px solid #5b9122;
	position:absolute;
	bottom:-300px;
	left:0;
	width:1098px;
	background:#fff;
	z-index:1000;
}
.head{
	position:relative;
	z-index:2;
}
.sort{
	zoom:1;
}
#shadow{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.scrollBox_title, .sect_1 li, .subcat_box li{
	display:inline;
}
.menu_top, #box_search{
	position:relative;
	z-index:1000;
}
section section{
	margin:0 0 0 -2px;
}